body {
  background-color: tan;
  height: 99%;
  width: 99%;
  margin-top: 10%;
}

h1 {
  text-align: center;
  height: 99%;
  width: 99%;
}

h3 {
  text-align: center;
  height: 99%;
  width: 99%;
}

h4 {
  text-align: center;
  height: 99%;
  width: 99%;
}

img {
  display: block;
  height: auto;
  width: 250px;
  margin: auto;
  border-radius: 250px;
}

ul {
  list-style: square;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
}

ol {
    list-style: decimal;
    text-align: center;
}

